body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #CC5500;
    width: 20%;
    padding: 2%;
    height: 980px;
    color: #fff;
    border-right: 3px solid #4d4d4d;
    border-bottom: 3px solid #4d4d4d;

}
aside h3{
    font-size: 35px;

}
aside ul {
    list-style: none;

}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features img{
max-width:500px;
max-height:500px;

}

main .features {
    float: left;
    color: #fff;
    margin-top: 50px;
    margin-left: 200px;
}



main .features h1 {font-size: 25px;max-width:700px;margin: 20px auto}
main .features p {max-width: 700px; margin: 20px auto}


