{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="features">
        <p>
            1.	Создайте проект Python Django с использованием стандартных средств Django.
            2.	Создайте модель Django ORM, содержащую две сущности, связанные отношением один-ко-многим в соответствии с Вашим вариантом из условий рубежного контроля №1.
            3.	С использованием стандартного механизма Django сгенерируйте по модели макет веб-приложения, позволяющий добавлять, редактировать и удалять данные.
            4.	Создайте представление и шаблон, формирующий отчет, который содержит соединение данных из двух таблиц.
        </p>
    </div>
{% endblock %}
